body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .site{
    position: fixed;
      top: 20px;
      margin: auto
  }
  
  
  input[type=submit] {
      padding:15px 50px;
      width:auto;
      background:#1abc9c;
      border:none;
      color:white;
      cursor:pointer;
      display:inline-block;
      float:right;
      clear:right;
      -webkit-transition:0.2s ease all;
         -moz-transition:0.2s ease all;
          -ms-transition:0.2s ease all;
           -o-transition:0.2s ease all;
              transition:0.2s ease all;
  }
  
  input[type=submit]:hover {
      opacity:0.8;
  }
  
  input[type="submit"]:active {
      opacity:0.4;
  }